//override bootstrap variables here
$primary: #232323;

//banner styling  

.textBanner{
  position: relative;
  width: 100%;
}

svg {
  display: block;
  position: relative;
  top: 17vh;
  margin: auto;
}

text {
  fill: white;
  font-size: 40px;
  letter-spacing: 10px; /* Adjust spacing between characters */
}

.banner {
  
}

.banner img {
  position: relative;
  width: 100%;
}

.backshotME{
  
}

.bodyImages{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 55%;

  transform: translate(37% ,-20vh);
}

.backshotMEHead{
  position: relative;
  width: 36%;
  left: 3.5%;
}
.backshotMEBody{
  width: 100%;
}
.backshotMELegs{
  position: relative;
  left: 2%;
  top: -1px;
  width: 65%;
}

//content styling

.textContent {
  width: 100%;
  margin: auto;
  padding-top: 100px;
  padding-left: 16.5vw;
  padding-right: 16.5vw;
  padding-bottom: 50px;
  background-color: white;
}

nav{
  position: sticky;
}

.mainNav{
  background-color: white;
}

.mainSection{
  height: auto;
  padding-top: 5px;

  -webkit-box-shadow: 0px -100px 62px 25px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px -100px 62px 25px rgba(0,0,0,0.8);
  box-shadow: 0px -100px 62px 25px rgba(0,0,0,0.8); 
}

#intro h1{
  margin-bottom: 50px;
}

.bgImageContainer {
  position: relative;
  height: 350px;
  overflow: hidden; /* Ensure the image stays within the container */
  width: 100%;
  z-index: -50;
}

.bgImage {
  position: absolute;
  top: 0;
  width: 200%;
  height: 1000px;
  object-fit: cover; /* Maintain aspect ratio */
  will-change: transform; /* Optimize for animations */
  transform: translateX(-50%); /* Center the image */
}



.topShadow{
  -webkit-box-shadow: 0px 100px 62px 25px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 100px 62px 25px rgba(0,0,0,0.3);
  box-shadow: 0px 100px 62px 25px rgba(0,0,0,0.3);
}

.bottomShadow{
  -webkit-box-shadow: 0px -10px 62px 25px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -10px 62px 25px rgba(0,0,0,0.3);
  box-shadow: 0px -10px 62px 25px rgba(0,0,0,0.3);
}

.main{
  background-color: white;
  text-align: center;

  height: 3000px;
}

//Navbar styling


/* mobile styles */
@media only screen and (max-width: 767px) { 
  .textBanner{
    height: 100vh;
  }
  
  .banner img {
    
  }

  .bodyImages{
    position: relative;

  }

  svg{
    
  }

  .textContent{
    
  }

  .textContent{
    text-align: center;
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  
}

@import '~bootstrap/scss/bootstrap.scss'