//override bootstrap variables here
$primary: #232323;

html{
  scroll-behavior: smooth;
}

//banner styling  

.textBanner{
  position: relative;
  width: 100%;
}

svg {
  display: block;
  position: relative;
  top: 17vh;
  margin: auto;
}

text {
  fill: white;
  font-size: 40px;
  letter-spacing: 10px; /* Adjust spacing between characters */
}

.banner {
  
}

.banner img {
  position: relative;
  width: 100%;
  transform: translateY(-40vh);
}

.backshotME{
  
}

.bodyImages{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 55%;

  transform: translate(37% ,-40vh);
}

.backshotMEHead{
  position: relative;
  width: 36%;
  left: 3.5%;
}
.backshotMEBody{
  width: 100%;
}
.backshotMELegs{
  position: relative;
  left: 2%;
  top: -1px;
  width: 65%;
}

//content styling

.textContent {
  width: 100%;
  margin: auto;
  padding-top: 100px;
  padding-left: 16.5vw;
  padding-right: 16.5vw;
  padding-bottom: 50px;
  background-color: white;
}

nav{
  position: sticky;
}

.mainNav{
  background-color: white;
}

.mainSection{
  height: auto;
  padding-top: 5px;

  -webkit-box-shadow: 0px -100px 62px 25px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px -100px 62px 25px rgba(0,0,0,0.8);
  box-shadow: 0px -100px 62px 25px rgba(0,0,0,0.8); 
}

#intro h1{
  margin-bottom: 50px;
}

.bgImageContainer {
  position: relative;
  overflow: hidden; /* Ensure the image stays within the container */
  width: 100%;
  z-index: -50;
}

.bgImageContainer{
  height: 174vh;
  width: 100%;

  transform: translateY(0%)
}

.bgImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  object-fit: cover; /* Maintain aspect ratio */
  will-change: transform; /* Optimize for animations */
  transform: translate(-50%,20%); /* Center the image */
  z-index: 0;
}

.topShadow{
  -webkit-box-shadow: 0px 100px 62px 25px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 100px 62px 25px rgba(0,0,0,0.3);
  box-shadow: 0px 100px 62px 25px rgba(0,0,0,0.3);
}

.bottomShadow{
  -webkit-box-shadow: 0px -10px 62px 25px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -10px 62px 25px rgba(0,0,0,0.3);
  box-shadow: 0px -10px 62px 25px rgba(0,0,0,0.3);
}

.main{
  width: 100%;

  position: inherit;
  background-color: white;
  text-align: center;
  z-index: 10;


}

.introHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}

// Card Rotator

.cardRotator{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.cardArrow {
  position: static;
  width: 40px; /* Increase the size of the SVG */
  height: 40px; /* Increase the size of the SVG */
  padding: 10px; /* Add padding around the SVG */
  border: 1px solid #232323; /* Add a border */
  border-radius: 50%; /* Make it circular */
  display: flex; /* Center the SVG inside the container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer; /* Add a pointer cursor for interactivity */
  transition: transform 0.2s ease; /* Add a hover effect */

  -webkit-box-shadow: 0px 2px 6px -2px #393939;
  -moz-box-shadow: 0px 2px 6px -2px #393939;
  box-shadow: 0px 2px 6px -2px #393939;

  &:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }

  &:active {
    transform: scale(0.8); /* Return to original size on click */
  }
}

.cardArrow.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cardOverview{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

  width: 70%;
}

.cardOverview .cardText{
  margin: 10px;
}

.cardImage{
  border-radius: 12px;
  border: #232323 solid 1px;
  width: 45vw;
  aspect-ratio: 16/9;
  object-fit:fill;
}

.cardText{
  width: 24vw;
}
//Navbar styling


/* mobile styles */
@media only screen and (max-width: 767px) { 
  .textBanner{
    height: 100vh;
  }
  
  .banner img {
    
  }

  .bodyImages{
    position: relative;

  }

  svg{
    
  }

  .textContent{
    
  }

  .textContent{
    text-align: center;
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  
}

@import '~bootstrap/scss/bootstrap.scss'